/* BERIKAN CUSTOM CSS DISINI */
    /* .pagination {
        justify-content: center;
        margin-top: 20px;
    }

    .page-item.active .page-link {
        background-color: #6a7480;
        border-color: #640d0d;
    }

    .page-link {
        color: #00c73c;
    } */